.find-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.find-iconds__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-iconds__icon i {
  font-size: 35px;
}

.find-iconds__icon span {
  margin-top: 15px;
}
