.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: RGB(249, 249, 250);
  padding: 18px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 20px;
  top: -16px;
}

.nav__note {
  background-color: tomato;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  right: -3px;
  top: -13px;
}
