.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 17px;
  margin-bottom: -5px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}
.cog__alarm {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  position: absolute;
  right: 18px;
  top: 43px;
}
