.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 18px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}
